<?xml version="1.0"?>

<launch>
    <node pkg="node_edge_localizer" type="localizer" name="localizer">
        <remap from="observation_map" to="dynamic_cloud_detector/occupancy_grid"/>
        <remap from="odom" to="odom/complement"/>
        <param name="init_x" value="0.0"/>
        <param name="init_y" value="0.0"/>
        <param name="init_yaw" value="0"/>
        <param name="min_particle_num" value="50"/>
        <param name="max_particle_num" value="500"/>
        <param name="enable_odom_tf" value="true"/>
        <param name="observation_distance_offset" value="3.0"/>
        <param name="init_sigma_xy" value="0.5"/>
        <param name="init_sigma_yaw" value="0.2"/>
        <param name="sigma_x" value="0.5"/>
        <param name="sigma_y" value="0.0"/>
        <param name="sigma_yaw" value="0.01"/>
        <param name="resampling_ratio" value="0.95"/>
        <param name="resampling_threshold" value="95"/>
        <param name="input_point_num" value="500"/>
        <param name="obstacle_ratio" value="0.5"/>
        <param name="kld_z" value="0.99"/>
        <param name="kld_error" value="0.05"/>
        <param name="obstacle_range" value="20"/>
    </node>
</launch>
