<?xml version="1.0"?>
<launch>
	<arg name="hz" default="20"/>
	<arg name="init_node0_id" default="0"/>
	<arg name="init_node1_id" default="1"/>
	<arg name="init_progress" default="0.0"/>
	<arg name="init_yaw" default="0.0"/>
	<arg name="curvature_threshold" default="0.010"/>
	<arg name="pose_num_pca" default="50"/>
	<arg name="min_line_size" default="50"/>
	<arg name="min_line_length" default="3.0"/>
	<arg name="enable_tf" default="false"/>
	<arg name="use_orientation_z_as_yaw" default="false"/>
	<arg name="particles_num" default="1000"/>
	<arg name="noise_sigma" default="0.10"/>
	<arg name="edge_decision_threshold" default="0.5"/>
	<arg name="same_trajectory_angle_threshold" default="0.523598"/>
	<arg name="continuous_line_threshold" default="0.448798"/>
	<arg name="line_edge_ratio_threshold" default="0.5"/>
	<arg name="enable_odom_tf" default="false"/>
	<arg name="correction_rejection_angle_difference_threshold" default="0.523598"/>
	<arg name="resampling_interval" default="5"/>
	<arg name="edge_certain_threshold" default="0.9"/>

	<node pkg="node_edge_localizer" type="node_edge_localizer" name="node_edge_localizer" ns="localiztion">
		<param name="HZ" value="$(arg hz)" type="int"/>
		<param name="INIT_NODE0_ID" value="$(arg init_node0_id)" type="int"/>
		<param name="INIT_NODE1_ID" value="$(arg init_node1_id)" type="int"/>
		<param name="INIT_PROGRESS" value="$(arg init_progress)" type="double"/>
		<param name="INIT_YAW" value="$(arg init_yaw)" type="double"/>
		<param name="CURVATURE_THRESHOLD" value="$(arg curvature_threshold)" type="double"/>
		<param name="POSE_NUM_PCA" value="$(arg pose_num_pca)" type="int"/>
		<param name="MIN_LINE_SIZE" value="$(arg min_line_size)" type="int"/>
		<param name="MIN_LINE_LENGTH" value="$(arg min_line_length)" type="double"/>
		<param name="ENABLE_TF" value="$(arg enable_tf)" type="bool"/>
		<param name="USE_ORIENTATION_Z_AS_YAW" value="$(arg use_orientation_z_as_yaw)" type="bool"/>
		<param name="PARTICLES_NUM" value="$(arg particles_num)" type="int"/>
		<param name="NOISE_SIGMA" value="$(arg noise_sigma)" type="double"/>
		<param name="EDGE_DECISION_THRESHOLD" value="$(arg edge_decision_threshold)" type="double"/>
		<param name="SAME_TRAJECTORY_ANGLE_THRESHOLD" value="$(arg same_trajectory_angle_threshold)" type="double"/>
		<param name="CONTINUOUS_LINE_THRESHOLD" value="$(arg continuous_line_threshold)" type="double"/>
		<param name="LINE_EDGE_RATIO_THRESHOLD" value="$(arg line_edge_ratio_threshold)" type="double"/>
		<param name="ENABLE_ODOM_TF" value="$(arg enable_odom_tf)" type="bool"/>
		<param name="CORRECTION_REJECTION_ANGLE_DIFFERENCE_THRESHOLD" value="$(arg correction_rejection_angle_difference_threshold)" type="double"/>
		<param name="RESAMPLING_INTERVAL" value="$(arg resampling_interval)"/>
		<param name="EDGE_CERTAIN_THRESHOLD" value="$(arg edge_certain_threshold)"/>
	</node>

</launch>
